users-to-sheets.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "30731a69-4ff0-4111-87eb-e79683723f08",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://jsonplaceholder.typicode.com/users",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "0445e806-cd92-4197-a96b-18c8317a8768",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f22d07a-ac53-4ea7-8b2d-537f8b8d7806",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "fde23604-bd46-4241-9890-5599c64b1698",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "96c5f61f-1b6e-414d-96d1-03bbe929d124",
              "name": "username",
              "value": "={{ $json.username }}",
              "type": "string"
            },
            {
              "id": "f44b6ee4-afea-485d-babb-fffce204c82b",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "dbbea68b-4532-43a6-8de4-05cfab6822e2",
              "name": "address",
              "value": "={{ $json.address.street }}",
              "type": "string"
            },
            {
              "id": "271b565f-9463-47d2-be6a-d2af6247ba79",
              "name": "phone",
              "value": "={{ $json.phone }}",
              "type": "string"
            },
            {
              "id": "04a46c59-6310-4037-998f-c3df3c27df79",
              "name": "company-name",
              "value": "={{ $json.company.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "670b6545-09cc-4e3f-b906-8345c354ddd8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1jNTteVytOwyfFsyLMO_S-5asvM4YTTHmTU7bM22NTEw",
          "mode": "list",
          "cachedResultName": "TEST n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jNTteVytOwyfFsyLMO_S-5asvM4YTTHmTU7bM22NTEw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1jNTteVytOwyfFsyLMO_S-5asvM4YTTHmTU7bM22NTEw/edit?gid=0#gid=0",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company-name",
              "displayName": "company-name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        0
      ],
      "id": "c7c0f68a-aecb-4259-8a11-d1dc4137856c",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rbSTylAigjIHVlva",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4fad12bf-3520-4d19-981a-e0a939dd2e27",
              "leftValue": "={{$json[\"error\"]}}",
              "rightValue": "exists",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        784,
        176
      ],
      "id": "0f8ad5ac-0f01-4fb0-b4ba-bc0761f0834c",
      "name": "If",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0ADS34G7KN",
          "mode": "list",
          "cachedResultName": "all-test-n8n"
        },
        "text": "Error In Updating Users  ",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1008,
        176
      ],
      "id": "e2771522-2e92-4065-a644-f953d8a9f12f",
      "name": "Send a message",
      "webhookId": "202cfe96-2852-47cb-8997-715ae69a808f",
      "credentials": {
        "slackOAuth2Api": {
          "id": "RZofLCjEIupmSR19",
          "name": "Slack account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d6886c58-63e7-4dc3-9fc0-31aa053b6825",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "16d0ec4523f8b27d245343aaa986ce4b4a3039a55b5d91695b10b807499c4081"
  },
  "id": "MmhGNA5gLQaK2D-_Xe4Sp",
  "tags": []
}